<% content_type = document.pdf_document.content_type %>
<% if content_type == "text/plain" %>
  <pre><%= document.pdf_document.download %></pre>
<% elsif content_type == "text/html" %>
  <iframe src="<%= url_for(document.pdf_document) %>" 
          width="100%" 
          height="600px" 
          style="border: none;"></iframe>
<% else %>
  <p>File type not supported for preview.</p>
<% end %>
