// Add the newly uploaded document to the list
$('#documents-list').append('<li id="document-<%= @document.id %>"><%= @document.name %> <%= link_to "Delete", folder_document_path(@folder, @document), method: :delete, remote: true, data: { confirm: "Are you sure you want to delete this document?" } %></li>');

// Reset the form
$('form')[0].reset();
