<% if @document %>
  <% if @document.pdf_document.attached? %>
    <% content_type = @document.pdf_document.content_type %>
    
    <% if content_type == "text/plain" %>
      <pre><%= @document.pdf_document.download %></pre>
    <% elsif content_type == "text/html" || content_type == "application/html" %>
      <%= raw @document.pdf_document.download %>
    <% else %>
      <p>Unsupported file type: <%= content_type %></p>
    <% end %>
  <% else %>
    <p>No file attached to this document.</p>
  <% end %>
<% else %>
  <p>Document not found.</p>
<% end %>